body{
    margin: 0px;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    align-items: center;
    justify-content: center
}
.conteiner{
    position: absolute;
    width: 327px;
    height: 567px;
    top: 10%;
    text-align: center;
    font-family: 'Red Hat Display';
    border-radius: 20px;
    background-color:#FFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}
.order_summary{
    position: absolute;
    height: 29px;
    left: 9.79%;
    right: 9.79%;
    top: calc(50% - 29px/2 - 77px);
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 29px;
    color: #1F2E55;
}
.lorem_ipsum{
    position: absolute;
    height: 75px;
    left: 9.79%;
    right: 9.79%;
    top: calc(50% - 75px/2 - 9px);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #717FA6;
}

.change{
    position: absolute;
    left: 7.34%;
    right: 7.34%;
    top: 59.26%;
    bottom: 26.46%;
    background: #F7F9FF;
    border-radius: 11px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btn_pay{
    position: absolute;
    left: 7.34%;
    right: 7.34%;
    top: 77.78%;
    bottom: 13.4%;
    color: hsl(225, 100%, 98%);
    border-radius: 10px;
    box-shadow: 0px 30px 30px -17px hsl(245, 51%, 65%);
    background-color: hsl(245, 75%, 52%);
}
.btn_pay > p{
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
}
.btn_pay:hover{
    background-color: #766CF1;
}

.btn_cancel_pay{
    position: absolute;
    height: 20px;
    left: 30%;
    right: 30%;
    top: calc(50% - 20px/2 + 241.5px);
    font-weight: 900;
    color: hsl(224, 23%, 55%);
}
.btn_cancel_pay:hover{
    color: #1F2E55;
}

img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

a{
    font-weight: 900;
    color: hsl(245, 75%, 52%);
    margin-left: 25px;
}

